<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="end" class="details-panel" [(opened)]="isPanelOpen">
    <h2>Order Details</h2>
    <div *ngIf="selectedOrder">
      <p><strong>Customer:</strong> {{ selectedOrder.user.name }}</p>
      <p><strong>Total Price:</strong> ₹{{ selectedOrder.amount }}</p>
      <h3>Items:</h3>
      <ul>
        <li *ngFor="let item of selectedOrder.items">{{ item.dish.dishName }} (x{{ item.quantity }}) - ₹{{item.price}}</li>
      </ul>
      <iframe src="https://uen.io/track/m5g78eqnks" ></iframe>
    </div>
    <button mat-raised-button color="warn" (click)="closePanel()">Close</button>
  </mat-sidenav>

<h1>Current Orders</h1>
<table mat-table [dataSource] = "liveOrders" class="mat-elevation-z8">
    <!-- Order Id Column -->
    <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
    </ng-container>

      <!-- Restaurant Name Column -->
      <ng-container matColumnDef="restaurantName">
        <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
        <td mat-cell *matCellDef="let order">{{ order.restaurant.restaurantName }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let order">{{ order.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let order">
          <mat-chip [color]="getStatusColor(order.orderStatus)">{{ order.orderStatus }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="trackOrder">
        <th mat-header-cell *matHeaderCellDef>Track</th>
        <td mat-cell *matCellDef="let order">
          <button mat-raised-button (click) = "openPanel(order)"> Track Order </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h1>Past Orders</h1>
<table mat-table [dataSource] = "pastOrders" class="mat-elevation-z8">
    <!-- Order Id Column -->
    <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
    </ng-container>

      <!-- Restaurant Name Column -->
      <ng-container matColumnDef="restaurantName">
        <th mat-header-cell *matHeaderCellDef>RestaurantName</th>
        <td mat-cell *matCellDef="let order">{{ order.restaurant.restaurantName }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let order">{{ order.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let order">
          <mat-chip [color]="getStatusColor(order.orderStatus)">{{ order.orderStatus }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="trackOrder">
        <th mat-header-cell *matHeaderCellDef>Track</th>
        <td mat-cell *matCellDef="let order">
          <button mat-raised-button (click) = "openPanel(order)"> View Order </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
