.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    background-image: url('src/assets/login-bg.jpg');
    background-size: cover;
    background-position: center;
}

/* Center the form */
.login-dabba {
    background-color: white;
    width: 20%;
    max-width: 40%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

/* Style the labels */
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Style the input fields */
mat-form-field {
    width: 100%;
}

mat-form-field.appearance-outline {
    --mat-form-field-outline-color: black;
    --mat-form-field-label-color: black;
}

/* Style the input text */
input.mat-input-element {
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
}

/* Style the button */
button {
    width: 100%;
    background-color: black !important;
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    opacity: 0.8;
}