<div class="page-layout">
<div class = "billing">
    <mat-stepper linear>
        <mat-step [completed]="isLoggedIn" [editable]="false">
            <ng-template matStepLabel>Sign In</ng-template>
            <div *ngIf="isLoggedIn; else loginPrompt">
                ✅ Welcome, {{ userName }}!
              </div>
              <ng-template #loginPrompt>
                ❌ You must be logged in to proceed.
              </ng-template>
              <br>
              <button mat-raised-button matStepperNext [disabled]="!isLoggedIn">Next</button>
        </mat-step>
        <mat-step [editable]="false" [completed]="isDeliverable === true && isOrderApprovable === true">
            <ng-template matStepLabel>Enter the delivery address</ng-template>
            <form [formGroup] = "address">
                <mat-form-field appearance="outline">
                    <mat-label>Select Drop Location</mat-label>
                    <mat-select formControlName="address" required>
                      <mat-option *ngFor="let loc of dropLocations" [value]="loc.key">
                        {{ loc.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="address.get('address')?.invalid">
                      Drop location is required
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button (click) = "checkDeliverability(address.get('address'))" style="margin:7px;">Check Deliverability</button>
            </form>
            <br><mat-error *ngIf="isDeliverable==false">Cant deliver to this location</mat-error>
            <br>
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            <mat-error *ngIf="isDeliverable==null && !loading==true">Check deliverability before proceeding</mat-error>
            <mat-error *ngIf="isOrderApprovable === false">Sorry we are not available now, please order again later</mat-error>
            <button mat-raised-button matStepperNext [disabled] = "address.get('address')?.invalid || isDeliverable!=true || isOrderApprovable != true">Next</button>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>Make the payment</ng-template>
            <div class="payment">
              <p>Please make a payment to this QR code before proceeding</p>
              <p>Please not that the payment will be verified before the order is placed</p>
              <img src="assets/upi-id.png">
            </div>
            <button mat-raised-button color="primary" (click) = "paymentMade()">Payment Made</button>
        </mat-step>
    </mat-stepper>
</div>  
<div class="cart-card">
    <app-cart [data]="deliveryCharge" (childEvent)="setTotalPrice($event)"></app-cart>
</div>
</div>