<div *ngIf="isCartEmpty; else cartNotEmpty">
    <div class = "intro"> 
        <mat-card appearance="outlined">
            <img src = "assets/empty-cart.png" class="empty-cart-image">
            <h1> Oh no! Your cart seems to be empty :/</h1>
        </mat-card>
    </div>
</div>
  
<ng-template #cartNotEmpty>
    <h1>Placing your order</h1>
    <div class="card-wrapper">
        <mat-card class="card" *ngFor="let dish of cartData | keyvalue">
            <div class="dish-row">
                <div style="flex:2;">
                    {{dish.key}}<br>
                    ₹{{dish.value.price}}
                </div>
                <div class="cart-buttons">
                    <button mat-icon-button (click) = "decrementCartItem(dish.key)">
                        <mat-icon>remove_shopping_cart</mat-icon>
                    </button>
                    <input matInput type="number" [(ngModel)]="cartData[dish.key].quantity" onchange="handleChange(event)">
                    <button mat-icon-button (click) = "incrementCartItem(dish.key)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
                <div style="flex:1; display: flex; align-items: center; justify-content: flex-end;">
                    {{prices[dish.key]}}
                </div>
            </div>
        </mat-card>
        <mat-card class="card" style="font-size:smaller;">
          <div class="dish-row">
            <div>Delivery Fee</div>
            <ng-container *ngIf="deliveryCharge === 0; else showDeliveryCharge">
                <button mat-icon-button matTooltip="You need to enter your drop location"
                    class="tiny-icon-btn" color="warn">
                  <mat-icon>info</mat-icon>
                </button>
            </ng-container>
            <ng-template #showDeliveryCharge>
                <div>₹{{ deliveryCharge }}</div>
            </ng-template>
          </div>
          <div class="dish-row">
            <div>Platform Fee</div>
            <div>₹{{ platFormFee }}</div>
        </div>
        </mat-card>
        <mat-card class="card">
            <div class="dish-row">
                <div><strong>TOTAL PRICE</strong></div>
                <div>₹{{ totalPrice }}</div>
            </div>
        </mat-card>
    </div>
</ng-template>