<div class = "bg">
<div class = "restaurant-header">
    <h1>{{restaurantDetails.restaurantName}}</h1>
</div>
<div class = "menu" *ngIf="!loading; else loadingTemplate">
    <mat-accordion color = "accent">
        <button 
            mat-raised-button color="accent" 
            matBadge = "{{cartQuantity}}" 
            matBadgeColor="warn" 
            (click) = "goToBilling()"
            class = "add-to-cart-btn"
        >
            Proceed to Billing
        </button>
        <mat-expansion-panel 
            *ngFor = "let  category of categorizedDishes | keyvalue"
            (opened)="panelOpenState.set(true)" 
            (closed)="panelOpenState.set(false)" 
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="category">{{category.key}}</p>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Currently I am {{panelOpenState() ? 'open' : 'closed'}} -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="card-wrapper">
                <mat-card class="card" *ngFor="let dish of categorizedDishes[category.key]">
                    <mat-grid-list cols="2" rowHeight="11:1">
                        <mat-grid-tile>
                            <div style="text-align: center;">
                                <div>{{ dish.dishName }}</div>
                                <div>₹{{ dish.price }}</div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="cart-buttons">
                                <button mat-icon-button (click) = "decrementCartItem(dish.dishName)">
                                    <mat-icon>remove_shopping_cart</mat-icon>
                                </button>
                                <input matInput type="number" [(ngModel)]="cart[dish.dishName].quantity" onchange="handleChange(event)">
                                <button mat-icon-button (click) = "incrementCartItem(dish.dishName)">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
            </div>
        </mat-expansion-panel>
        <br>
    </mat-accordion>
</div>

<!-- Loading Template -->
<ng-template #loadingTemplate>
    <div class="loading">Loading...</div>
</ng-template>
</div>