<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" position="end" class="details-panel" [(opened)]="isPanelOpen">
      <h2>Order Details</h2>
      <div *ngIf="selectedOrder">
        <p><strong>Total Price:</strong> ₹{{ selectedOrder.amount }}</p>
        <h3>Items:</h3>
        <table class = "items-table">
          <thead>
            <tr>
              <th>Dish</th>
              <th>Qty</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedOrder.items">
              <td>{{ item.dish.dishName }}</td>
              <td>{{ item.quantity }}</td>
              <td>₹{{ item.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button mat-raised-button color="warn" (click)="closePanel()">Close</button>
    </mat-sidenav>
  
    <div class="main-content">
      <h1>All Orders</h1>
      <table mat-table [dataSource] = "orders" class="mat-elevation-z8">
        <!-- Order Id Column -->
        <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>Order Id</th>
            <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
        </ng-container>
  
          <!-- Restaurant Name Column -->
          <ng-container matColumnDef="restaurantName">
            <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
            <td mat-cell *matCellDef="let order">{{ order.restaurant.restaurantName }}</td>
          </ng-container>

          <!-- Restaurant Name Column -->
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let order">{{ order.user.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let order">{{ order.amount }}</td>
          </ng-container>
  
          <!-- Order Date -->
          <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef>Order Date</th>
            <td mat-cell *matCellDef="let order">{{ order.orderDate | date:'yyyy-MM-dd' }} {{order.orderDate | date:'HH:mm' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let order">
              <mat-chip [color]="getStatusColor(order.orderStatus)">{{ order.orderStatus }}</mat-chip>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="dstatus">
            <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
            <td mat-cell *matCellDef="let order">
              <mat-chip [color]="getStatusColor(order.orderStatus)">{{ order.deliveryStatus }}</mat-chip>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="orderDetails">
            <th mat-header-cell *matHeaderCellDef>Track</th>
            <td mat-cell *matCellDef="let order">
              <button mat-raised-button (click) = "openPanel(order)">Order Details</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-container>