mat-toolbar{
    position: sticky;
    font: Battiecito;
    text-align: center;
    font-weight:bolder;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.7) !important; /* Black with 70% opacity */
    color: white; /* Ensures text is readable */
    backdrop-filter: blur(10px); /* Optional: Adds a blurred background effect */
    z-index: 1000;
}
.buttons{
    position: absolute;
    right: 3%;
}
.buttons button{
    margin: 3%;
}