mat-toolbar{
    position: relative;
    font: Battiecito;
    text-align: center;
    font-weight:bolder;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.7) !important; /* Black with 70% opacity */
    color: white; /* Ensures text is readable */
    backdrop-filter: blur(10px); /* Optional: Adds a blurred background effect */
    z-index: 1000;
}
.toolbar-1{
    height: fit-content;
    padding: 1%;;
}
.vendor-toolbar{
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.buttons{
    position: absolute;
    right: 3%;
}
.buttons button{
    margin: 3%;
}
.fancy-link {
    position: relative;
    text-decoration: none;         /* remove default underline */
    font-size: 0.9rem;             /* smaller font */
    font-weight: normal;           /* "normaller" :) */
    color: #333;                   /* adjust color as needed */
    padding-bottom: 2px;           /* space for underline */
}
  
.fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: rgb(58, 214, 71); /* uses text color */
  transition: width 0.3s ease-in-out;
}

.fancy-link:hover::after {
  width: 100%;
}
  