.intro{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    padding: 2%;
}
.intro mat-card {
    width: 90%;
    background-color: hsla(78, 50%, 59%, 0.5); 
}

.card-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%; 
    margin: auto;
  }
  
  .card-wrapper {
    display: flex;
    gap: 2%;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100%; 
    padding: 1%;
  }
  
  /* Hide scrollbar */
  .card-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .card {
    min-width: 25%;  /*Each card takes 25% of the container width*/
    max-width: 25%;
    height: 30vh;  /*30% of viewport height*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: normal;
  }
  
  /* Navigation Buttons */
  .nav-btn {
    position: absolute;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1.5%;
    font-size: 1.5vw;
    border-radius: 50%;
    z-index: 2;
  }
  
  .left-btn {
    left: -5%;
  }
  
  .right-btn {
    right: -5%;
  }

.restaurant-pics{
  width: 90%; /* Makes the image responsive within the card */
  max-height: 15vh; /* Limits height to 20% of viewport height */
  object-fit: contain; /* Ensures the entire image is visible without cropping */
  object-position: center; /* Centers the image */
  border-radius: 0.5rem; /* Slightly rounded corners */
    
}