<div class = "intro"> 
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title><h1>FORK'D</h1></mat-card-title>
            <mat-card-subtitle>Your food, your way</mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="1.5:1">
                <mat-grid-tile colspan="1">
                    <img src = "assets/cropped-logo.png" class="cropped-logo">
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div fxLayout="column"> 
                        <h1>Hungry? We got you covered - Order Now!</h1>
                        <h4>Choose from your fav restaurants below</h4>
                      </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
<h2>RESTAURANTS</h2>
<div class="card-container">
    <button (click)="scrollLeft()" class="nav-btn left-btn">&lt;</button>
  
    <div class="card-wrapper" #scrollContainer>
      <mat-card class="card" *ngFor="let restaurant of restaurants">
        
        <mat-card-content>
            <mat-card-title><strong>{{restaurant.restaurantName}}</strong></mat-card-title>
        <mat-card-subtitle>{{restaurant.cuisine}}</mat-card-subtitle>
            <img [src]="restaurant.logo" *ngIf="restaurant.logo; else loading" class="restaurant-pics"/>
            <ng-template #loading>
                <div>Loading...</div>
              </ng-template>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color ="primary" (click)="openRestaurant(restaurant.restaurantId)">View Restaurant</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <button (click)="scrollRight()" class="nav-btn right-btn">&gt;</button>
</div>

