<div class = "intro"> 
    <div class = "video-container">
        <video controls autoplay loop>
            <source src="assets/landing-page-vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class = "overlay">
        <mat-card class = "intro-card">
            <mat-card-header>
                <mat-card-title><h1>FORK'D</h1></mat-card-title>
                <mat-card-subtitle><p style="color: white;">Your food, your way</p></mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <h1>Hungry? We got you covered - Order Now!</h1>
                <p>Choose from your fav restaurants below</p>                
            </mat-card-content>
        </mat-card>
    </div>
</div>

<section class="restaurant-section">
    <h2 class="restaurant-title">RESTAURANTS</h2>
    <button (click)="scrollLeft()" class="nav-btn left-btn"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div class="card-container"  #scrollContainer>
        <mat-card class="card" *ngFor="let restaurant of restaurants">
            <div class="restaurant-image">
                <img [src]="restaurant.logo" *ngIf="restaurant.logo; else loading" class="restaurant-pics"/>
                <ng-template #loading>
                    <div>Loading...</div>
                </ng-template>
                
            </div>
            <button mat-button (click)="openRestaurant(restaurant.restaurantId)" class = "view-res-button">
                View Restaurant
            </button>
            <div class = "image-info">
                <h2>{{restaurant.restaurantName}}</h2>
                <p class ="restaurant-cuisines">{{restaurant.cuisine}}</p>
            </div>
        </mat-card>
    </div>
    <button (click)="scrollRight()" class="nav-btn right-btn"><mat-icon>keyboard_arrow_right</mat-icon></button>
</section>
